.brand {
  .side-navbar {
    height: 100vh;
  }
  /* main nav */
  nav.navbar {
    background: #2f333e;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    position: relative;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding-left: 0;
    padding-right: 0;
  }

  nav.navbar .badge {
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }

  nav.navbar .navbar-holder {
    width: 100%;
  }

  nav.navbar .navbar-brand .brand-small {
    display: none;
  }

  nav.navbar .brand-big {
    display: block;
  }

  nav.navbar .brand-small {
    display: none;
  }

  nav.navbar a {
    color: inherit;
  }

  nav.navbar .container-fluid {
    width: 100%;
  }

  nav.navbar .menu-btn {
    margin-right: 20px;
    font-size: 1.2em;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    display: inline-block;
  }

  nav.navbar .menu-btn span {
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 4px auto 0;
    -webkit-transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
    transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  }

  .nav-link {
    font-size: 15px;
  }

  .nav-menu {
    margin-bottom: 0;
  }

  nav.navbar .menu-btn span:nth-of-type(2)::after {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    position: absolute;
    top: -2px;
    left: 0;
  }

  nav.navbar .menu-btn.active span:first-of-type {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }

  nav.navbar .menu-btn.active span:nth-of-type(2) {
    -webkit-transform: none;
    transform: none;
  }

  nav.navbar .menu-btn.active span:last-of-type {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }

  nav.navbar .nav-item > a {
    position: relative;
  }

  nav.navbar .nav-item > a span {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 400;
    font-size: 0.7em;
  }

  nav.navbar .nav-item > a.logout i {
    margin-left: 10px;
  }

  nav.navbar .search-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: #fff;
    z-index: 12;
    border-radius: 0;
    display: none;
  }

  nav.navbar .search-box .dismiss {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #999;
  }

  nav.navbar .search-box form {
    height: 100%;
  }

  nav.navbar .search-box form input {
    height: 100%;
    border: none;
    padding: 20px;
  }

  nav.navbar .dropdown-menu {
    right: 0;
    min-width: 250px;
    left: auto;
    margin-top: 15px;
    padding: 15px 0;
    max-width: 400px;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  }

  nav.navbar .dropdown-menu a {
    background: #fff;
    padding: 10px 20px;
    font-size: 0.8em;
    color: #777;
    width: 100%;
  }

  nav.navbar .dropdown-menu a:hover {
    background: #f5f5f5;
  }

  nav.navbar .dropdown-menu a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #796AEE;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
  }

  nav.navbar .dropdown-menu a small {
    margin-left: 40px;
  }

  nav.navbar .dropdown-menu span {
    position: static;
    font-size: 0.9em;
    color: #999;
  }

  nav.navbar .dropdown-menu strong {
    font-weight: 700;
  }

  nav.navbar .dropdown-menu .msg-profile {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }

  nav.navbar .dropdown-menu h3 {
    font-weight: 500;
  }
  
  /* Side nav */ 
  nav.side-navbar {
    background: #fff;
    min-width: 250px;
    max-width: 250px;
    color: #686a76;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 9;
    float: left;
  }

  nav.side-navbar a {
    color: inherit;
    position: relative;
    font-size: 0.9em;
  }

  nav.side-navbar a[data-toggle="collapse"]::before {
    content: '\f104';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 20px;
  }

  nav.side-navbar a[aria-expanded="true"] {
    background: #EEF5F9;
  }

  nav.side-navbar a[aria-expanded="true"]::before {
    content: '\f107';
  }

  nav.side-navbar a i {
    font-size: 1.2em;
    margin-right: 10px;
    -webkit-transition: none;
    transition: none;
  }

  nav.side-navbar .sidebar-header {
    padding: 30px 15px;
  }

  nav.side-navbar .avatar {
    width: 55px;
    height: 55px;
  }

  nav.side-navbar .title {
    margin-left: 10px;
  }

  nav.side-navbar .title h1 {
    color: #333;
  }

  nav.side-navbar .title p {
    font-size: 0.9em;
    font-weight: 200;
    margin-bottom: 0;
    color: #aaa;
  }

  nav.side-navbar span.heading {
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 20px;
    color: #ccc;
    font-size: 0.8em;
  }

  nav.side-navbar ul {
    padding: 15px 0;
  }

  nav.side-navbar ul a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    border-left: 4px solid transparent;
  }

  nav.side-navbar ul a:hover,
  nav.side-navbar ul a.active {
    background: #796AEE;
    border-left: 4px solid #3b25e6;
    color: #fff;
  }
  

  nav.side-navbar ul li.active a {
    background: #EEF5F9;
  }

  nav.side-navbar ul li.active a:hover {
    background: #796AEE;
  }

  nav.side-navbar ul ul {
    padding: 0;
  }

  nav.side-navbar ul ul a {
    padding-left: 50px;
    background: #EEF5F9;
  }

  nav.side-navbar.shrinked {
    min-width: 90px;
    max-width: 90px;
    height: 100%;
    text-align: center;
  }

  nav.side-navbar.shrinked span.heading {
    margin: 0;
  }

  nav.side-navbar.shrinked a {
    padding: 15px 10px;
    border: none;
    font-size: 0.8em;
    color: #aaa;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
  }

  nav.side-navbar.shrinked a[data-toggle="collapse"]::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }

  nav.side-navbar.shrinked a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f106';
  }

  nav.side-navbar.shrinked a:hover {
    color: #fff;
    border: none;
  }

  nav.side-navbar.shrinked a:hover i {
    color: #fff;
  }

  nav.side-navbar.shrinked a i {
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
    font-size: 1.6em;
    color: #333;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  nav.side-navbar.shrinked .sidebar-header .title {
    display: none;
  }
  /* main nav */
  nav.navbar {
    background: #2f333e;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    position: relative;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding-left: 0;
    padding-right: 0;
  }

  /* main */ 
  .main {
    width: calc(100% - 90px);
    display: inline-block;
    padding: 30px;
  }
  .main.shrinked {
    width: calc(100% - 250px);
  }

  /* Collapsable */
  .Collapsible {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }

  //The content within the collaspable area
  .Collapsible__contentInner {
    padding: 10px;
    border-top: 0;

    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //The link which when clicked opens the collapsable area
  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: rgb(51, 51, 51);
    border: 1px solid #e6e6e6;
    position: relative;
    padding: 10px;

    &:after {
      font-family: 'FontAwesome';
      content: '\f107';
      position: absolute;
      right: 10px;
      top: 6px;
      display: block;
      transition: transform 300ms;
      font-size: 20px;
    }

    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }

    &.is-disabled {
      opacity: 0.5;
      background-color: grey;
    }
  }

  .CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
  }

  .CustomTriggerCSS--open {
    background-color: darkslateblue;
  }

  .Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
  }

  @media (max-width: 1199px) {
    nav.side-navbar {
      margin-left: -90px;
      min-width: 90px;
      max-width: 90px;
      text-align: center;
    }
    nav.side-navbar span.heading {
      margin: 0;
    }
    nav.side-navbar ul a {
      padding: 15px 10px;
      border: none;
      font-size: 0.8em;
      color: #aaa;
      -webkit-transition: color 0.3s, background 0.3s;
      transition: color 0.3s, background 0.3s;
    }
    nav.side-navbar ul a[data-toggle="collapse"]::before {
      content: '\f107';
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      position: absolute;
      top: auto;
      right: 50%;
      bottom: 0;
      left: auto;
    }
    nav.side-navbar ul a[data-toggle="collapse"][aria-expanded="true"]::before {
      content: '\f106';
    }
    nav.side-navbar ul a:hover {
      color: #fff;
      border: none;
    }
    nav.side-navbar ul a:hover i {
      color: #fff;
    }
    nav.side-navbar ul a i {
      margin-right: 0;
      margin-bottom: 5px;
      display: block;
      font-size: 1.6em;
      color: #333;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }
    nav.side-navbar .sidebar-header .title {
      display: none;
    }
    nav.side-navbar.shrinked {
      margin-left: 0;
    }
    .content-inner {
      width: 100%;
    }
    .content-inner.active {
      width: calc(100% - 90px);
    }
  }

  /* Hack the fuck of loading spinner */
  .Select.is-loading span.Select-loading-zone {
    display: none;
  }
  .Select.is-loading.is-open span.Select-loading-zone {
    display: table-cell;
  }

  .react-tabs__tab-list {
    margin: 0;

    .tab-title {
      line-height: 30px;
    }
    .react-tabs__tab--selected {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    }
  }
  .react-tabs__tab-panel {
    .card {
      border: none;
    }
  }

  /* MISC */
  .pagination {
    .page-item > a {
      cursor: pointer;
    }
  }

  /* Main Navbar */
  @media (max-width: 1199px) {
    nav.navbar {
      /*==== Toggle Sidebar Btn ====*/
    }
    nav.navbar .navbar-brand .brand-small {
      display: block !important;
    }
    nav.navbar .brand-big {
      display: none;
    }
    nav.navbar .brand-small {
      display: block;
    }
    nav.navbar .menu-btn {
      margin-right: 20px;
      font-size: 1.2em;
      -webkit-transition: all 0.7s;
      transition: all 0.7s;
    }
    nav.navbar .menu-btn span:first-of-type {
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
    }
    nav.navbar .menu-btn span:nth-of-type(2) {
      -webkit-transform: none;
      transform: none;
    }
    nav.navbar .menu-btn span:nth-of-type(2)::before, nav.navbar .menu-btn span:nth-of-type(2)::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    nav.navbar .menu-btn span:nth-of-type(2)::after {
      -webkit-transform: rotate(145deg);
      transform: rotate(145deg);
      position: absolute;
      top: -2px;
      left: 0;
    }
    nav.navbar .menu-btn span:last-of-type {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
    }
    nav.navbar .menu-btn.active span:first-of-type {
      -webkit-transform: none;
      transform: none;
    }
    nav.navbar .menu-btn.active span:nth-of-type(2) {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    nav.navbar .menu-btn.active span:last-of-type {
      -webkit-transform: none;
      transform: none;
    }
  }

  @media (max-width: 575px) {
    nav.navbar {
      font-size: 14px;
    }
    nav.navbar .badge {
      width: 19px;
      height: 19px;
    }
    nav.navbar .nav-item > a {
      font-size: 13px;
    }
    nav.navbar .dropdown-menu {
      right: auto;
      left: -50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

    /* main */    
  @media (max-width: 575px) {
    .main.shrinked {
      width: 100%;
    }
  }

  .btn {
    cursor: pointer;
  }

  .navlink {
    background: none;
    &.navlink-selected {
      background: #796AEE;
      border-left: 4px solid #3b25e6 !important;
      color: #fff !important;
    }
  }
  
  .plain-style {
    padding-left: 0; 

    li {
      list-style: none;
    }
  }

  .field-array {
    .button-section {
      margin-bottom: 10px;
    }
    
    .box {    
      border: 1px solid #ececec;
      background: #fbfbfb;
      max-width: 600px;
      padding: 20px;
    }
  }

  .fa-icon {
    width: 30px;
    height: 30px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;

    > i {
      font-size: 18px;
    }
  }


  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
      background-color: #f5f5f5;
  }

  .react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
  }

  // .card {
  //   padding: 10px;
  //   background: #fff;
  //   border-radius: 2px;
  //   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  //   margin: 10px 0px;
  // }

  h1 {
    font-weight: 300;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
  }

  label {
    font-size: 13px;
  }

  p {
    margin: 0;
  }

  .draggable {
    cursor: pointer;
  }

  .card {
    outline: none;
    .thumbnail {
      width: 100px;
      height: 100px;
      background-size: cover;
    }

    .title {
      font-size: 14px;
      font-weight:500;
    }
    
    .description {
      font-size: 12px;
      color: #444444;
    }

    small {
      font-size: 10px;
      color: #444444;
    }

    .action {
      text-align: right;
      font-size: 12px;
      a {
        :hover {
          text-decoration: underline;
        }
      }
    
      a.danger {
        color: #b10000;
      }
    }
  }

  .map-container {
    margin-bottom: 65px;
  }
}

.has-error {
  background: #F9E5E6;
  border: 1px solid #E8AAAD;
  color: #B50007;
}

.has-error-message {
  font-size:11px;
  color: #B50007;
}

.has-warning-message {
  font-size: 11px;
  color: #B50007;
}